.message{
    margin-bottom: 30px;
}
.message img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 3px solid red;
    margin: 5px 10px;
}
.message span{
    position: relative;
    top: -30px;
}
.message p {
    margin-left: 50px;
}